<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <title>MusicDb</title>
  </head>
  <body>
    <div hx-sse="connect:/sse">
      <div hx-sse="swap:playing">(loading)</div>
      <button hx-post="/resume" hx-swap="none">&#x23F5;</button>
      <button hx-post="/pause" hx-swap="none">&#x23F8;</button>
      <button hx-post="/stop" hx-swap="none">&#x23F9;</button>
      <button hx-post="/next" hx-swap="none">&#x23ED;</button>
      <button hx-post="/queue/clear" hx-swap="none">-</button>
      <div hx-sse="swap:queue">(loading)</div>
      <div hx-sse="swap:artists">(loading)</div>
      <div id="artist-view"></div>
      <div id="album-view"></div>
    </div>
  </body>
</html>
